body {
    background: rgb(35, 35, 35);
    font-family: MonsterratSemiBold;
}

h1, h3 {
    text-align: center;
    color: white;
}

h2 {
    margin-left: 25px;
    text-align: left;
    color: white;
}

p {
    color: white;
}

@font-face {
  font-family: MonsterratSemiBold;
  src: url(../assets/font/Montserrat-Regular.ttf);
}

.photogrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.photolist {
    width: 225px;
    background-color: #333;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personphoto-wrapper {
    width: 100%;
    height: 190px;
    border-radius: 20px;
    overflow: hidden;
    background-color: transparent;
}

.scrollphoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    margin-top: 8px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.campus-wrapper {
  max-width: calc(4 * 300px + 3 * 85px);
  margin: 0 auto;
}


.campusphotogrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 85px;
  justify-content: center;
  place-items: center;
}

.campusphotolist {
    border-radius: 20px;
    overflow: hidden;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 225px;
}

.campusphoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (width <= 600px) {
  h2 {
    margin-left: 0px;
    text-align: center;
  }

  .campusphotogrid {
    place-items: center;
  }
}